// Custom variables
// -------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
$primary: #2b7a78;
$secondary: #3aafa9;
$accent: #fe7f2d;

$main-font: "Oxygen", sans-serif;
