// Custom variables
// -------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
$primary: #2ecc71;
$secondary: #212a31;
$accent: #124e66;

$main-font: "Oxygen", sans-serif;
