// Define your colors
$primary: #2b7a78;
$secondary: #3aafa9;
$accent: #fe7f2d;

//Override Bootstrap primary and secondary buttons
$btn-primary-bg: $primary;
$btn-secondary-bg: $secondary;
$input-border-color: $secondary;
$input-focus-border-color: darken($secondary, 10%);

// Override  Bootstrap btn-primary (for button color)
.btn-primary {
  background-color: $btn-primary-bg !important;
}
// Override  Bootstrap btn-primary hover (for button color)
.btn-primary:hover,
.btn-primary:focus {
  background-color: $btn-secondary-bg !important;
  border-color: $btn-secondary-bg;
  outline: none !important;
}
// Override  Bootstrap text-primary (for text color)
.text-primary {
  color: $primary !important;
}
// Override  Bootstrap text-secondary (for text color)
.text-secondary {
  color: $secondary !important;
}

// Override Bootstrap bg-primary (for background color)
.bg-primary {
  background-color: $primary !important;
}

// Override Bootstrap bg-secondary (for background color)
.bg-secondary {
  background-color: $secondary !important;
}

//Override other Bootstrap classes
$btn-primary-hover-bg: darken($primary, 8%);
$btn-secondary-hover-bg: darken($secondary, 8%);
$link-color: $secondary;
